*, *::after, *::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
}
body{
    padding-top: 80px;
    padding-left: 9.5rem;
    padding-right: 0.5rem;
}
.icons{
    
    height: 40px;
    object-fit: cover;
   
}
.header-nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid rgb(141, 137, 137);
    padding: 20px 0px;
    z-index: 1000;
}

.page-title{
    display: flex;
    align-items: center;    
    width: 200px;   
}

.search-bar{  
    flex: 1;
    margin-right: 30px;
    margin-left: 70px;
    max-width:  400px;
    display: flex;
    align-items: center;
}

.icon-search{
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.274);
    height: 36px;
    border-radius: 15px;
    font-size: 20px;
    padding-left: 20px;
    width: 0;
}
.icon-search::placeholder{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    
}
.icon1{
    width: 60px;
    height: 35px;
    margin-left: -10px;
    margin-right: 20px;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 2px; 
}

.icon1 img{
    width: 100%;
    object-fit: contain;
    height: 30px;
    margin-top: 3px; 
    background-color: #fff; 
    
    
}
.icon2 img{
    height: 30px;
}
.icon-grp{
    flex-shrink: 0;
    width: 200px;
    margin-right: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}
.icons3,.icons4,.icons5{
    height: 28px;
}
.icons6{
    height: 32px;
}
p{
    font-family: 'Roboto',arial;
}
.thumbnail{
    width: 100%;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 30px;
}
@media(min-width:350px) and (max-width: 600px){
    .main-container{
        grid-template-columns: 1fr;
    }
    
}
@media(min-width:601px) and (max-width:850px){
    .main-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:851px) and (max-width: 1199px){
    .main-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width: 1200px){
    .main-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.vert-desc{
    display: grid;
    grid-template-columns: 50px 1fr;

}
.vert-image{
    margin-bottom: 15px;
    position: relative;
}

.img-image{
    object-fit: cover;
    border-radius: 20px;
}
.desc-title{
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
}
.desc-owner,.desc-stats{
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}
.video-time{
    background-color: black;color: #fff;
    display: inline-block;
    position: absolute;
    right: 18px;
    bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    padding: 2px 4px;
    border-radius: 2px;
}
